In [18]:
import sqlite3

In [19]:
connect = sqlite3.connect('example.db')
connect

In [20]:
cursor = connect.cursor()

In [21]:
cursor.execute('''
    Create table If Not Exists Employee(
            id Integer Primary Key,
            Name Text Not Null,
            Age Integer,
            Department Text)
            ''')

connect.commit()

In [22]:
cursor.execute('''
    Select * from Employee
            ''')

In [23]:
cursor.execute('''
            Insert into Employee(Name,Age,Department)
            values('Rahul',35,'SW')   
               ''')
cursor.execute('''
            Insert into Employee(Name,Age,Department)
            values('Amal',35,'SY')   
               ''')

cursor.execute('''
            Insert into Employee(Name,Age,Department)
            values('Anas',35,'SY') 
               ''') 
connect.commit()

In [24]:
cursor.execute('''
    Select * from Employee
            ''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Rahul', 35, 'SW')
(2, 'Rahul', 35, 'SW')
(3, 'Amal', 35, 'SY')
(4, 'Anas', 35, 'SY')
(5, 'Rahul', 35, 'SW')
(6, 'Amal', 35, 'SY')
(7, 'Anas', 35, 'SY')
(8, 'Rahul', 35, 'SW')
(9, 'Amal', 35, 'SY')
(10, 'Anas', 35, 'SY')
(11, 'Rahul', 35, 'SW')
(12, 'Amal', 35, 'SY')
(13, 'Anas', 35, 'SY')